.quantity{
    display: flex;
    padding: 30px;
    font-size: large;
    justify-content: space-around;
    .genderContainer, .balanceContainer{
        font-size: large;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    }
    
}
.header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px 0px;
    text-align: center;
    padding-top: 20px;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}
.row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px 0px;
    text-align: center;
    padding-top: 20px;
    background-color: floralwhite;
}

// .active{
//     background-color: lightgray;
// }
